.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
  height: 60px;
  width: 450px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  background-color: #A2E9C1;
}

.cards .card p.tip {
  font-size: 14px;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}