/* From Uiverse.io by Li-Deheng */
.btnConteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #199249;
  --color-outline: #199249;
  --color-shadow: #199249;
}

.btnContent {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  text-decoration: none;
  color: var(--color-text);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  background-color: var(--color-background);
}
/* .btnContent:hover,
.btnContent:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
    background-color: red !important;
} */
.title {
  width: auto !important;
  color: white;
  font-size: 1.6rem;
  /* font-size: 18px; */
}

.btnContent .iconArrow {
  transition: 0.5s;
  margin-right: -7px;
  transform: scale(0.6);
  margin-bottom: 6px;
}

.btnContent .iconArrow {
  transition: 0.5s;
  margin-right: 5px;
}

.iconArrow {
  width: 20px;
  margin-left: 5px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrowIconOne {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrowIconTwo {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btnContent #arrowIconThree {
  animation: color_anim 1s infinite 0.2s;
}

.btnContent #arrowIconOne {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btnContent #arrowIconTwo {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btnContent {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btnContent {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
