@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* FONT */
  --TEXT-DISPLAY-SIZE: 3.6rem;
  --TEXT-BODY-SIZE: 1.45rem;
  --TEXT-SUB-BODY-SIZE: 1.3rem;

  /* COLOR */
  --COLOR-PRIMARY: #199249;
  --COLOR-SECONDARY: #ffd12f;
  --COLOR-ACCENT: #d8e2dc;
  /* SUCCES-WARNING-DANGER-ACTIVE */
  --DANGER-COLOR: #ef233c;
  --WARNING-COLOR: #ffd60a;
  --SUCCESS-COLOR: #00a6fb;
  --ACTIVE-COLOR: #48cae4;
  /* TEXT COLOR */
  --TEXT-COLOR: #3b3b3d;
  --TEXT-LABEL: #4c4c4e;
  --TEXT-DISABLED: #e1dfe9;
}
html {
  font-size: 62.5%;
  letter-spacing: 1.1px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: var(--font-viga), var(--font-koulen),var(--font-inter), var(--font-battambong) !important
}
.text-as-logo{
  color: #199249 !important;
}
p,
input,
button,
label {
  font-family: var(--font-inter), var(--font-battambong);
  font-weight: 400;
  font-style: normal;
  color: var(--TEXT-COLOR);
  font-size: var(--TEXT-BODY-SIZE);
}
h1 {
  font-size: var(--TEXT-DISPLAY-SIZE);
  font-family: var(--font-viga), var(--font-koulen);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: var(--TEXT-COLOR);
}
span {
  font-size: var(--TEXT-SUB-BODY-SIZE);
  color: var(--TEXT-LABEL);
}
.aaaa {
  z-index: 99;
}
span {
  font-family: var(--font-inter), var(---font-battambong)  !important;
  font-weight: 400;
  font-style: normal;
  color: var(--COLOR-ACCENT);
  font-size: var(--TEXT-SUB-BODY-SIZE);
  font-weight: bold;
}
.text-gradientKH {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-weight: bold; /* Optional: make the text bold */
}
.text-gradientEN {
  background: linear-gradient(to right, #199249, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  /* font-size: 48px; Adjust the font size as needed */
  font-weight: bold; /* Optional: make the text bold */
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white !important;
}
.hvr-bounce-to-top:hover .text-as-logo,.hvr-bounce-to-top:hover p{
  color: white !important;
}
.hvr-bounce-to-top:before{
   background: #199249 !important;
   color: white !important;
}
/* .aa:hover{
  background: rgb(25, 146, 73);
} */
.hvr-bounce-to-top-gray::before {
  background: rgb(0, 23, 49);
  background: linear-gradient(
    0deg,
    rgba(0, 23, 49, 0.38699229691876746) 0%,
    rgba(227, 240, 255, 0) 100%,
    rgba(252, 252, 252, 0.11528361344537819) 100%
  );
}

.img-slice-fix {
  width: 300px;
  height: 220px;
  background: rgb(25, 146, 73);
  background: linear-gradient(
    337deg,
    rgba(25, 146, 73, 1) 0%,
    rgba(227, 240, 255, 0) 100%,
    rgba(252, 252, 252, 0.11528361344537819) 100%
  );
  padding: 1px;
  object-fit: cover;
}
.textGradien60 {
  background: -webkit-linear-gradient(#51b63d, #08662e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bgGradient60 {
  background: rgb(252, 252, 252);
  background: linear-gradient(
    214deg,
    rgba(252, 252, 252, 0.11528361344537819) 0%,
    rgba(25, 146, 73, 1) 100%,
    rgba(227, 240, 255, 0) 100%
  );
}
/* Our Project Component */
.hvr-shutter-out-horizontal-bg-ourproject:before {
  background: rgb(25, 146, 73);
}
.hvr-underline-from-left:before{
  color: #e1dfe9;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.795);
}
.hvr-underline-from-left{
  padding-bottom: 2px;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
}
.hvr-underline-from-left:hover{
  color: rgba(255, 255, 255, 0.795);
}
/* Speicial color gold gradient */
.txt-gold-text{


  background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;


}
.txt-gold-text:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		3px 2px 2px rgba(0, 0, 0, 0.4),
		-1px -1px 1px rgba(0, 0, 0, 0.4);
}
.a{width: 80%;
  margin: auto;
  background-color: green !important;
}